body {
    background: url("./images/bg1.jpg");
}

div a {
    color: brown;
}

div a:hover {
    color: black;
}

.milk-tea {
    margin-top: 0cm;
    margin-bottom: 0cm;
    color: rgb(2, 2, 95);
    font-family: 'Trashhand';
    font-weight: bolder;
    font-size: 2cm;
}

.green-tea {
    font-family: 'winkle';
    font-size: 1cm;
    margin-top: 0,5cm;
    margin-bottom: 0cm;
}

.banana-milk {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0cm;
    margin-bottom: 0,5cm;
}